<h1>{{titulo}}</h1>
<h2 class="subheader">Películas</h2>
<button (click)='cambiarTitulo()'>Pulsame</button>
<hr>
<h2>Mostra primera pelicula</h2>
{{peliculas[0].title}}

<hr>
<h2>Número de películas</h2>
{{peliculas.length}}

<div *ngIf="peliculas.length <=3">
    <p>Hay pocas películas</p>
</div>
<div *ngIf="peliculas.length >3">
    <p>Hay muchas pocas películas</p>
</div>
<hr>

<h2>Lista de películas</h2>

<div id="articles" *ngIf="peliculas">
    <!-- Este div está sacado de la carpeta de maquetación html-css -->

    <article class="article-item" *ngFor="let pelicula of peliculas;let i=index">
        <!-- *ngFor es un for; i=index es para guardar el índice -->
        <div class="image-wrap" style="border:none;">
            <!-- El style es porque el css tenida un borde -->
            <img src="{{pelicula.image}}" alt="{{pelicula.title}}">
        </div>

        <!-- Titulo -->
        <h2>{{pelicula.title}}</h2>

        <!-- Manera 1 de aplicar estilo con Angular -->

        <!--<span class="year" [style.background]="pelicula.year > 2000 ? 'green' : 'red'">-->
        <!-- Directiva de atributo-->
        <!-- {{pelicula.year}} -->
        <!-- </span> -->

        <!-- Manera 2 de aplicar estilo con Angular -->

        <!-- <p class="year" [class.year-green]="pelicula.year > 2000" [class.year-red]="pelicula.year < 2000" [ngClass]={ 'year-green':pelicula.year> 2000, 'year-red':pelicula.year -->
        <!-- < 2000 }> -->
        <!-- Directiva de atributo-->
        <!-- {{pelicula.year}} -->
        <!-- </p> -->

        <!-- Manera 3 de aplicar estilo con Angular -->

        <p class="year" [ngClass]="{ 'year-green' : pelicula.year > 2000, 'year-red': pelicula.year
            < 2000 }">
            <!-- Directiva de atributo-->
            {{pelicula.year}}
        </p>
        <span class="date">
            Hace 5 min
        </span>
        <a href="#">Leer más</a>
        <div class="clearfix"></div>
    </article>
    <!-- Añadir articulos por JS -->


</div>