/* Main */
body{
  font-size: x-large;
}
#main {
  margin: auto;
  margin-top: 5em;
  width: 60%;
  border-style: solid;
  background-color: aqua;
}

/* pokemon sprites */
.img_sprite {
  width: 120px;
}

/* DIV POKEMON */
/* div opponent */
#div_opponent {
  display: flex;
  /* width: 60%; */
}
#info_opponent {
  height: 10%;
}
#hp_opponent {
  background-color: blue;
  width: 100%;
  height: 2px;
}
/* div attacker */
#div_attacker {
  display: flex;
  /* width: 60%; */
  margin-top: 10em;
}
#info_attacker {
  height: 10%;
}
#hp_attacker {
  background-color: blue;
  width: 100%;
  height: 2px;
}

/* Info divs */
.info_poke {
  border-style: solid;
  margin: 3px;
  border-radius: 50px;
  padding: 5px;
}
.p_info {
  display: inline;
}
/* MENU*/
#menu {
  /* display: flex; */
}
#menu_list {
  list-style-type: none;
  grid: auto / auto auto;
  display: grid;
  padding-left: -2px;
}
#menu_list div {
  font-size: larger;
  padding: 0 5px 0 5px;
  margin: 3px 2px 3px 2px;
  border-radius: 2px;
  cursor: pointer;
  border-style: solid;
  border-radius: 50px;
}

#nav {
  border-style: solid;
  border-radius: 20px;
}
/* Window */
#window {
  /* width: 60%; */
  min-height: 60px;
  border-style: solid;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;

}
